    @charset "UTF-8";
    * {
        margin: 0;
        padding: 0;
        ;
    }
    
    body {
        width: 100vw;
        height: 100vh;
    }
    
    .container {
        background-color: coral;
        height: 10vh;
        width: 891px;
        justify-content: center;
        display: flex;
    }
    
    .titulo {
        margin-top: 10px;
        text-shadow: 3px 2px 3px cornsilk;
        text-align: center;
        width: 100%;
    }
    
    .classes {
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        display: flex;
        width: 100vw;
        height: 74vh;
        background-color: greenyellow;
    }
    
    li {
        font-size: 20px;
        transition: 1s ease-in-out;
        cursor: pointer;
        box-shadow: 1px 1px 1px black;
        list-style: none;
        text-align: center;
        border-radius: 20px;
        background: plum;
        border: 1px solid black;
        padding: 3rem;
    }
    
    li:hover {
        font-size: 30px;
        background: dodgerblue;
        padding: 5rem;
    }
    
    footer {
        align-items: center;
        justify-content: center;
        display: flex;
        width: 100vw;
        background-color: grey;
        height: 16vh;
    }
    
    h2 {
        height: 5vh;
        text-align: center;
    }